{% extends 'layout/layout.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <p>Coordonnées :</p>
                </div>
                <div class="card-content">
                    <div><img src="../assets/img/logo.png" alt="logo Onlineformapro"></div>
                    <div id="name" contenteditable="true">Onlineformapro Vesoul</div>
                    <div id="adress" contenteditable="true">19 rue du Praley, 70000 Vesoul</div>
                    <div id="phone" contenteditable="true">03.84.76.52.44</div>
                </div>
                <div class="card-footer">
                    <button id="maj">Mettre à jour</button>
                    <button id="default">Valeur par défaut</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
